@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="">
    <!--Need to style this correctly, bad inline styling is a temp solution -->
    <img src="~/images/hlnolablk.png" class="" style="width:600px;height:300px;margin-top:50px;margin-left:20%;" />
</div>

