
@{
    ViewBag.Title = "HyperLocalNola";
}
<!-- DONT FORGET to CTRL + F5 when looking at style changes to clear the browser cache-->
<!--
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class=" active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

        <div class="carousel-item item active" style="background-image: url('./images/levee.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="display-4">Go Local</h3>
                <p class="lead">Get the best local products and services.</p>
            </div>
        </div>

        <div class="carousel-item item" style="background-image: url('./images/sunsetNola.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="display-4">Discover Local</h3>
                <p class="lead">Go where the locals go by exploring local businesses</p>
            </div>
        </div>

        <div class="carousel-item item" style="background-image: url('./images/sunset2Nola.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="display-4">Enjoy Local</h3>
                <p class="lead">Enjoy the best local music, food and products, delivered right to your door.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section class="py-5">
    <div class="container">
        <h1 class="display-4">HyperLocal New Orleans</h1>
        <p class="lead">
            Immerse yourself in the great food and culture that the city of New Orleans has to offer.
            HyperLocalNola brings you right to the street level of the most interesting place around.
            View all the great areas of interest all around one of the most amazing places on earth,
            All without leaving your house!
        </p>
        <h2 class="">  Get Hyper Local </h2>
    </div>
</section>
    -->
<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('./images/streeviewNola2.jpg');">
    <img class="img-fluid d-block mx-auto inset-logo" src="~/images/gtech.jpg" alt="">
</header>

<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>Guerra Technologies</h1>
        <p class="lead">On the cutting edge of Technology and Local Culture</p>
        <p>We offer services from a unique perspective that encompasses both Technology and Culture. We are a New Orleans company that captures the magic of culture in everything we do.</p>
    </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('./images/sunsetNola.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>Tech Consultation</h1>
        <p class="lead">Security, Custom Software, and More</p>
        <p>
            We work with programmers, developer operations, as well as designers, all using the latest tools and techniques available. Follow the link to learn more about how we can
            increase your security and piece of mind.
        </p>
    </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('./images/matguerramusic2013.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>Music and Visual Design</h1>
        <p class="lead">Music Design and Editing</p>
        <p>
            Take  a look around our music page and listen to a wide variety of samples. We offer custom sound design, tracks and clips for film and video games. In addition, Our
            visual arts team can create any logo or design project you may need.
        </p>
    </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('./images/hlnolablk.png');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>HyperLocalNola</h1>
        <p class="lead">Products from the Heart of New Orleans</p>
        <p>
            Our company is at the forefront of the Hyper Local movement, whose philosophy to bring products that define a rich culture and history. Guerra Technologies is a company
            born and raised in the heart of New Orleans, and this shines through in everything we do. Find out more about our wide range of products and services that encapsulate the
            truly unique culture of New Orleans.
        </p>
    </div>
</section>
