
@{
    ViewBag.Title = "Guerra Technology";
}

<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('./images/streetviewNola.jpg');">
    <img class="img-fluid d-block mx-auto inset-logo" src="~/images/gtech.jpg" alt="">
</header>

<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>Guerra Technologies</h1>
        <p class="lead">On the cutting edge of Technology and Local Culture</p>
        <p>We offer services from a unique perspective that encompasses both Technology and Culture. We are a New Orleans company that captures the magic of culture in everything we do.</p>
    </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('./images/sunsetNola.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>Tech Consultation</h1>
        <p class="lead">Security, Custom Software, and More</p>
        <p>
            We work with programmers, developer operations, as well as designers, all using the latest tools and techniques available. Follow the link to learn more about how we can
            increase your security and piece of mind.
        </p>
    </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('./images/matguerramusic2013.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>Music and Visual Design</h1>
        <p class="lead">Music Design and Editing</p>
        <p>
            Take  a look around our music page and listen to a wide variety of samples. We offer custom sound design, tracks and clips for film and video games. In addition, Our
            visual arts team can create any logo or design project you may need.
        </p>
    </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('./images/hlnolablk.png');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>HyperLocalNola</h1>
        <p class="lead">Products from the Heart of New Orleans</p>
        <p>
            Our company is at the forefront of the Hyper Local movement, whose philosophy to bring products that define a rich culture and history. Guerra Technologies is a company
            born and raised in the heart of New Orleans, and this shines through in everything we do. Find out more about our wide range of products and services that encapsulate the
            truly unique culture of New Orleans.
        </p>
    </div>
</section>
