@{
    ViewBag.Title = "MTheory Music";
}

<h1>MTheory Sound Design</h1>

<p>
    MTheory studios brings you amazing sounds that will enhance your life, love, and
    joy
</p>

<!--Bootstrap cards on a 3 x 3 grid-->
<div class="card" style="width: 18rem;">
    <img class="c" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Test One</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
<!--End single card-->

<!--TODO multiple cards per line in a responsive container-->

<div class=" text-muted">
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img class="c" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Test One</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="c" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Test One</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="c" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Test One</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
    </div>
</div>