@{
    ViewBag.Title = "MTheory Music";
}

<img class="banner" src="~/images/mtheoryscbanner.png" />
<!-- Top Section -->

<div class="container mb-5">
    <div class="row">
        <div class="col-md-8">
            <h3 class="display-4">MGME</h3>
            <hr class="bg-dark w-25 ml-0">
            <p class="lead">
                Here will be some general text about a featured Album, or maybe just general information on MGME, the process, and the music.
            </p>
            <p>
                MGME or Mtheory sound design can be featured on this page. There are a few different options, possibly the best being to have a featured album that
                changes from week to week or month to month. This could be featured on top. There could then be other music, or samples listed below it. Each will have
                a button where you can either purchase the music, or listen to a sample, or both!
            </p>
            <ul class="list-unstyled pl-4">
                <li><i class="fa fa-check"></i> Track 1 Description</li>
                <li><i class="fa fa-check"></i> Track 2 Description</li>
                <li><i class="fa fa-check"></i> Track 3 Description</li>
            </ul>
            <a href="#" class="btn btn-outline-primary rounded-0"> Listen </a>
        </div>
        <div class="col-md-4 mt-5">
            <img class="card-img-top" src="~/images/TempImages/mTheoryStudio.jpg" alt="Card image cap">
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-8">
            <h3 class="display-4">MGME Podcast</h3>
            <hr class="bg-dark w-25 ml-0">
            <p class="lead">
                MGME Podcast brings you on a journey to break down the best music of all time!
            </p>
            <p>
                The podcast covers music of all types, from Tom Petty to Flea. Music is broken down and thought about from every angle imaginable.
            </p>

            <a href="#" class="btn btn-outline-primary rounded-0"> View Episodes </a>
        </div>
        <div class="col-md-4 mt-5">
            <img class="card-img-top" src="~/images/TempImages/MGME.jpg" alt="Card image cap">
        </div>
    </div>
</div>

<!-- Card -->
<div class="container container mt-4 mb-5">
    <h3 class="display-4 text-center"> Mat Guerra Music Experience </h3>
    <hr class="bg-dark mb-4 w-25">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/TempImages/03cover.jpg" alt="Card image cap">
                <div class="card-block p-3">
                    <h4 class="card-title">03</h4>
                    <p class="card-text">
                        This is a placeholder description for 03. Text here would describe the sample or single. Button below can purchase or play.
                        We can make the whole image a click event to link to an online store. Possibilities are endless.
                    </p>
                    <a href="#" class="btn btn-primary rounded-0 mb-2">Play</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/TempImages/06cover.jpg" alt="Card image cap">
                <div class="card-block p-3">
                    <h4 class="card-title">06</h4>
                    <p class="card-text">
                        This is a placeholder description for 06. Text here would describe the sample or single. Button below can purchase or play.
                        We can make the whole image a click event to link to an online store. Possibilities are endless.
                    </p>
                    <a href="#" class="btn btn-primary rounded-0 mb-2">Play</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/TempImages/07cover.jpg" alt="Card image cap">
                <div class="card-block p-3">
                    <h4 class="card-title">07</h4>
                    <p class="card-text">
                        This is a placeholder description for 07. Text here would describe the sample or single. Button below can purchase or play.
                        We can make the whole image a click event to link to an online store. Possibilities are endless.
                    </p>
                    <a href="#" class="btn btn-primary rounded-0 mb-2">Play</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/Mtheory 09single cover.jpg" alt="Card image cap">
                <div class="card-block p-3">
                    <h4 class="card-title">09</h4>
                    <p class="card-text">
                        This is a placeholder description for 09. Text here would describe the sample or single. Button below can purchase or play.
                        We can make the whole image a click event to link to an online store. Possibilities are endless.
                    </p>
                    <a href="#" class="btn btn-primary rounded-0 mb-2">Play</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/TempImages/10cover.jpg" alt="Card image cap">
                <div class="card-block p-3">
                    <h4 class="card-title">10</h4>
                    <p class="card-text">
                        This is a placeholder description for 10. Text here would describe the sample or single. Button below can purchase or play.
                        We can make the whole image a click event to link to an online store. Possibilities are endless.
                    </p>
                    <a href="#" class="btn btn-primary rounded-0 mb-2">Play</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/TempImages/Mtheory 11 (Jump).jpg" alt="Card image cap">
                <div class="card-block p-3">
                    <h4 class="card-title">11</h4>
                    <p class="card-text">
                        Placeholder for 11(jump) Text here would describe the sample or single. Button below can purchase or play.
                        We can make the whole image a click event to link to an online store. Possibilities are endless.
                    </p>
                    <a href="#" class="btn btn-primary rounded-0 mb-2">Play</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/TempImages/MGME.jpg" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Future</h4>
                        <p class="card-text">
                            Placeholder for future music
                        </p>
                        <a href="#" class="btn btn-primary rounded-0 mb-2">Play</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/TempImages/GCASTbbdes.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">GuerraCast</h4>
                        <p class="card-text">
                            Join us as we discuss life, the universe and everything.
                        </p>
                        <a href="#" class="btn btn-primary rounded-0 mb-2">Play</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/TempImages/mTheoryLogo.jpg" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Future</h4>
                        <p class="card-text">
                            Future music could go here. Text here would describe the sample or single. Button below can purchase or play.
                            We can make the whole image a click event to link to an online store. Possibilities are endless.
                        </p>
                        <a href="#" class="btn btn-primary rounded-0 mb-2">Play</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

