@{
    ViewBag.Title = "Products";
}



<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('./images/streetviewNola.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>
            HyperLocalNola
        </h1>
        <p class="lead">Get Products from the heart of New Orleans</p>
        <p>
            HyperLocalNola is a movement all about connecting people with the greatest products that the city of New Orleans has to offer. We celebrate our culture and want to
            give you the same experience, <strong>without having to leave your home.</strong>
        </p>
    </div>
</section>

<div>
    <img class="productHeader" src="~/images/bbnola.png" />
    <h2>Find your authentic New Orleans Experience</h2>
    <p>Our products capture the heart and culture of the greatest city.</p>
    <!--More Images needed and products, can be listed below-->
</div>



