@{
    ViewBag.Title = "Products";
}

<div class="">
    <img class="productHeader" src="~/images/TempImages/skylineNola2.jpg" />
</div>
<div>
    <h1 class="">Get Real Local Products from the heart of New Orleans</h1>
    <p class="">
        HyperLocalNOLA is all about connecting you to the greatest products that
        New Orleans has to offer. We celebrate the great culture that is New Orleans, and want to give you
        that same experience, <strong> without having to leave </strong> the comfort of your home.
    </p>

    <h2 class="">Don't just go Local, Go HYPER Local!</h2>




</div>