@{
    ViewBag.Title = "Technology";
}

<div>
    <img class="technology-logo" src="~/images/gtech.jpg" />
</div>

<div>
    <h1>Technology Products </h1>
    <!--Subsections for this page, and for the Hyperlocal page similar to nick portfolio layout for products and services-->
    <!--TODO: add Services and Demos with more Pictures, menu style layout with sections for each service under the main headings I have-->
    <p>
        We offer technology services to keep your businesses safe such as online security and penetration testing. In addition, We have custom made solutions for any of
        your programming needs.
    </p>
</div>

<div>
    <img class="technology-logo" src="~/images/gtech2.jpg" />
    <h2>Security Consultation</h2>
    <p>The importance of online security cannot be over stated. We offer short and long term consultation in order to keep your online presence running safely and secure</p>
</div>

<div>
    <img class="technology-logo" src="~/images/gtech2.jpg" />
    <h2>Penetration Testing</h2>
    <p>We can set up a secure perimeter by finding and removing any vulnerabilities on one time or regular basis.</p>
</div>

<div>
    <img class="technology-logo" src="~/images/gtech2.jpg" />
    <h2>Web Hosting</h2>
    <p>Leave your web hosting up to us and we will take care of it, and allow you to focus on what is necessary to grow your business.</p>
</div>

<div>
    <img class="technology-logo" src="~/images/gtech2.jpg" />
    <h2>Custom Software</h2>
    <p>In addition to our other services, we also off custom software. We can build applications to fit your needs, using the latest tools the industry has to offer</p>
</div>
